body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tablero {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-left: 100px;
    margin-top: 100px;
}

.grid-item {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
}